@charset "UTF-8";

header { /* 親エリアにflexを指定 */
  display: flex;

  /* ナビバーの追従設定 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0);
  height: 30px;
}

/* ナビバーの追従設定 */
.is-fixed  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all .4s ease 0s,background .6s ease .2s;
  transition: all .4s ease 0s,background .6s ease .2s;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  height: 30px;
}

/* ナビバーの中身 */
.area_left {  /* エリアの左半分に言語ボタンを設置 */
  width: 100%;
  text-align: left; /* 半分に分割したエリアの左寄せ */
}
.area_right { /* エリアの右半分に設置 */
  width: 100%;
  text-align: right;  /* 半分に分割したエリアの右寄せ */
}
/* 文字の体裁 */
.menu { /* 親エリアの行内なのでinline-blockを指定 */
  display: inline-block;
}
.menu a {
  text-decoration: none;
  color: white;
  overflow: hidden;
  line-height: 30px;
  font-size: 13px;
  display: block;
  padding: 0 12px;
}
