@charset "UTF-8";

.main h1 {
  font-family: 'Yu Gothic';
  font-size: x-large;
}

/* 画像の体裁調整 */
.main div {
  width: 30%;
  margin: 5%;
  float: right;
}
.main img {
  max-width: 100%;
}

/* 箇条書きのマーカー設定 */
.main li {
  list-style: square;
}
.question li {
  list-style: none;
}
