@charset "UTF-8";

.research {
  margin-top: 3%;  /* 研究ごとの間隔 */
  overflow: hidden;  /* floatの解除 */
}

.research h1 {
  font-family: 'Yu Gothic';
  font-size: x-large;
  padding: 0.25em 0.5em;  /*上下 左右の余白*/
  color: #494949;  /*文字色*/
  background: transparent;  /*背景透明に*/
  border-left: solid 5px #7db4e6;  /*左線*/
}

/* 写真に概要を回り込ませて表示 */
.research figure {
  float: left;
  width: 20%;
  text-align: center;
}
.research img {
  max-width: 100%;
  max-height: 20vh;
}

.research p {
  width: 90%;
  margin: 0 auto;
}
.author {
  text-align: right;
}
