@charset "UTF-8";

/* エリアの体裁調整 */
.member {
  display: flex;
}
.member ul {  /* 複数列で表示 */
  margin-bottom: 5%;
  width: 100%;
  font-size: medium;
  text-align: center;
}

.member h1 {
  font-family: 'Yu Gothic';
  font-size: x-large;
}

.member li {
  list-style: none;
}


/* 自己満エリア */
.editor {
  /* jQueryでサイズを可変にしているが，念の為CSSでデフォルト値を指定 */
  width: 15%;
  margin-left: auto;
  text-align: left;
}
.editor h2 {
  font-family: 'Yu Gothic';
  font-size: small;
}
.editor ol {
  font-size: small;
}
